<!-- @format -->

<template>
  <div class="cd-section" id="headers">
    <!--     *********     HEADER      *********      -->
    <div class="header-3">
      <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute">
        <div class="container">
          <div class="navbar-translate">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#example-navbar-primary"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="https://watheialabs.com">Watheia MFE</a>
          </div>
          <div class="collapse navbar-collapse" id="example-navbar-primary">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <el-carousel height="100vh">
        <el-carousel-item>
          <div class="page-header header-filter">
            <div
              class="page-header-image"
              style="background-image: url('img/bg20.jpg')"
            ></div>
            <div class="content-center">
              <div class="container text-left">
                <div class="content-center">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="iframe-container">
                        <iframe
                          height="250"
                          src="https://gitlab.com/watheia/mfe-harmonics/-/pipelines/charts"
                          frameborder="0"
                          allowfullscreen
                        ></iframe>
                      </div>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto text-right">
                      <h1 class="title">We Build Micro-Frontends!</h1>
                      <h4 class="description">
                        Break the web monolith! Develop and compose modular apps together in
                        a fast and scalable way, with an amazing dev experience at every
                        step.
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </el-carousel-item>
        <el-carousel-item>
          <div class="page-header header-filter">
            <div
              class="page-header-image"
              style="background-image: url('img/bg15.jpg')"
            ></div>
            <div class="content-center">
              <div class="container">
                <div class="content-center">
                  <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                      <h1 class="title">We Build Micro-Frontends!</h1>
                      <h4 class="description">
                        Let your components drive web application delivery at global scale.
                        Enjoy world-class performance, security and support every step of
                        the way.
                      </h4>
                      <br />
                      <h5>Connect with us on:</h5>
                      <div class="buttons">
                        <a
                          href="#pablo"
                          class="btn btn-icon btn-neutral btn-danger btn-round mt-2"
                        >
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a
                          href="#pablo"
                          class="btn btn-icon btn-neutral btn-danger btn-round mt-2"
                        >
                          <i class="fab fa-facebook-square"></i>
                        </a>
                        <a
                          href="#pablo"
                          class="btn btn-icon btn-neutral btn-danger btn-round mt-2"
                        >
                          <i class="fab fa-google-plus"></i>
                        </a>
                        <a
                          href="#pablo"
                          class="btn btn-icon btn-neutral btn-danger btn-round mt-2"
                        >
                          <i class="fab fa-instagram"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </el-carousel-item>
        <el-carousel-item>
          <div class="page-header header-filter">
            <div
              class="page-header-image"
              style="background-image: url('img/bg17.jpg')"
            ></div>
            <div class="content-center">
              <div class="container">
                <div class="content-center">
                  <div class="row">
                    <div class="col-md-6 text-left">
                      <h1 class="title">We Build Micro-Frontends!</h1>
                      <h4 class="description">
                        Track and learn exactly which components are used, in which version,
                        in which project. Take control over components across the enterprise
                        codebase.
                      </h4>
                      <br />
                      <div class="buttons">
                        <a href="#pablo" class="btn btn-neutral btn-primary btn-lg mr-1">
                          <i class="now-ui-icons files_single-copy-04"></i> Find out how..
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-lg">
                          <i class="now-ui-icons arrows-1_share-66"></i> Free consultation
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div>
    <!--     *********    END HEADER      *********      -->
  </div>
</template>
<script>
import { Button } from "@/components"
import { Carousel, CarouselItem } from "element-ui"
export default {
  components: {
    [Button.name]: Button,
    [Carousel.name]: Carousel,
    [CarouselItem.name]: CarouselItem,
  },
}
</script>
<style></style>
