<!-- @format -->

<template>
  <footer
    class="footer"
    :class="{[`footer-${type}`]: type}"
    :data-background-color="backgroundColor"
  >
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="/"> Watheia Labs </a>
          </li>
          <li>
            <a href="/about"> About Us </a>
          </li>
          <li>
            <a href="/blog"> Blog </a>
          </li>
          <li>
            <a href="/terms"> Terms </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy; {{year}},
        <a href="https://watheialabs.com" target="_blank" rel="noopener"
          >Watheia Labs, LLC.</a
        >. All rights reserved.
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  props: {
    backgroundColor: String,
    type: String
  },
  data(){
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>
<style></style>
