<template>
    <footer class="footer"
            :class="{[`footer-${type}`]: type}"
            :data-background-color="backgroundColor">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://watheialabs.com">
                            Watheia Labs
                        </a>
                    </li>
                    <li>
                        <a href="https:///presentation.watheialabs.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="https:///blog.watheialabs.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://watheialabs.com/license">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{year}}, Designed by
                <a href="https:///www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://github.com/cristijora" target="_blank">Cristi Jora</a> and
                <a href="https://watheialabs.com" target="_blank">Watheia Labs</a>.
            </div>
        </div>
    </footer>
</template>
<script>
  export default {
    props: {
      backgroundColor: String,
      type: String
    },
    data(){
      return {
        year: new Date().getFullYear()
      }
    }
  }
</script>
<style>
</style>
