<!-- @format -->

<template>
  <div>
    <main-navbar :color-on-scroll="0"></main-navbar>
    <nuxt />
    <main-footer></main-footer>
  </div>
</template>
<script>
// import MainNavbar from "@/components/layout/MainNavbar.vue";
import MainFooter from "@/components/layout/MainFooter.vue"
export default {
  components: {
    MainFooter,
  },
}
</script>
<style></style>
