<!-- @format -->

<template>
  <h1 class="wrapper starter-page d-flex justify-content-center align-items-center">
    We Build Micro-Frontends!
  </h1>
</template>
<script>
export default {
  layout: "white-nav",
}
</script>
<style scoped>
.starter-page {
  min-height: calc(100vh - 79px);
}
</style>
