<!-- @format -->

<template>
  <div class="wrapper home-page">
    <hero-section></hero-section>
  </div>
</template>
<script>
import HeroSection from "@/components/pages/sections/Hero"
export default {
  name: "sections",
  layout: "white-nav",
  components: {
    HeroSection,
  },
}
</script>
<style></style>
